@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
background-color: rgb(0, 0, 0);



}
.main{
    background-color: black;
    background-image: url("images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
   
}
.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    padding: 25px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    width: 72vw;
    height: 10vh;
display: flex;
justify-content: space-between;
position: relative;
z-index: 10;

}
.sbtn{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: whitesmoke;
    font-weight: bolder;
}
.content{
    text-align: center;
line-height: 1.5;
    color: whitesmoke;
    width: 50vw;
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.textarea{
    position: relative;
    top: 10px;
line-height: 1;
}
.op{
    line-height: 2.5;
    font-size: 20px;
    font-weight: bolder;
}
.tp{
    line-height: 3.5;
}

